/*  your css code here. If applicable */
#center{
	position: absolute;
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%);
}
#center-div{
	position: absolute;
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%);
	width:200px;
	height:200px;
	border:2px solid black;
	color:purple;
	background-color:lightblue;
}